<div class="page-header text-center">
    <h1>Autenticação</h1>
</div>


<div class="jumbotron">
	<p>Ainda não tem cadastro? <a href="/registro">Cadastre-se!</a></p>


	<div id="idAutenticacao">

		<p ng-show="mensagem.length" class="alert alert-info">{{mensagem | uppercase}}</p>

  		<form class="row" ng-submit="autenticar()" name="formlogin">
			<div class="form-group"> 
				<label for="username" class="ng-scope">E-mail</label> 
				<input class="form-control ng-pristine ng-valid ng-touched" id="username" placeholder="Seu e-mail" 
					ng-model="usuario" tabindex="0" aria-invalid="false" required>
			</div>

			<div class="form-group"> 
				<label for="password" class="ng-scope">Senha</label>
				<input type="password" class="form-control ng-pristine ng-valid ng-touched" id="password" 
					placeholder="Sua senha" ng-model="senha" tabindex="0" aria-invalid="false" required> 
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg" translate="login.form.button">Entrar</button>
			</div>
		</form>
	</div>
  
</div>  